body{
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    background-color: #eceff1;
}

/* Por Id*/
#tablaRifa {
    width: 100%;
}

#tablaRifa td {
    width: 50%;
}

#tablaRifa td textarea{
    width: 100%;
}

/*Classes*/
.boton{
    padding: 10px;
    width: 200px;
    font-weight: bold;
    background-color: #03a9f4;
    font-family: 'Courier New', Courier, monospace;
}

